/* RESET */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* || VARIABLES */
:root {
	/* FONTS */
	--FF: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	--FF-HEADINGS: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	--FS: 18px;
	--FS-HEADER: clamp(1rem, 6vw, 2.7rem);
	/* COLORS */
	--LINK-COLOR: white;
	--LINK-HOVER: yellow;
	--LINK-ACTIVE: red;
	--BGCOLOR-FADE: rgb(157, 149, 220);
	--BGCOLOR: rgb(3, 6.1, 53);
	--BGCOLOR-GENERAL: black;
	--BGCOLOR-GENERAL-FADE: rgb(91, 0, 91);
	--BGIMAGE: radial-gradient(var(--BGCOLOR), var(--BGCOLOR-FADE));
	--BGIMAGE-GENERAL: radial-gradient(var(--BGCOLOR-GENERAL), var(--BGCOLOR-GENERAL-FADE));
	--BODY-BGCOLOR: rgb(118, 65, 65);
	--FONT-COLOR: black;
	--BORDER-COLOR: black;
	--SHADOW-COLOR: white;
	--HEADER-BGCOLOR: #3D0C02;
	--HEADER-COLOR: rgb(234, 255, 0);
	--HIGHLIGH-COLOR: rgb(203, 213, 23);
	--NAV-BGCOLOR: rgb(72, 92, 112);
	--NAV-COLOR: rgb(0, 0, 0);
	--ARTICLE-BGCOLOR: rgb(72, 92, 112);
	--ARTICLE-COLOR: rgb(255, 255, 255);
	/* BORDERS */
	--BOX-SHADOW: 0px 0px 12px var(--SHADOW-COLOR);
	--BORDER: 5px solid var(--BORDER-COLOR);
	--BORDER-RADIUS: 25px;
	/* STANDARD PADDING */
	--PADDING-TB: 0.25em;
	--PADDING-SIDE: 2.5%;
	/* STANDARD MARGIN */
}

/* || UTILITY CLASSES */
.offscreen {
	position: absolute;
	left: -10000px;
}

.nowrap {
	white-space: nowrap;
}

.textcenter {
	text-align: center;
}

html {
	font-size: var(--FS);
	font-family: var(--FF);
	background-color: var(--BGCOLOR);
	background-image: var(--BGIMAGE);
}

body {
	/* display: flex; */
	/* flex-direction: column; */
	background: none;
	color: var(--FONT-COLOR);
	min-height: 100vh;
	max-width: 800px;
	margin: 0px auto;
	/* gap: 0.5rem; */
	/* align-items: center; */
}

h1, h2, h3 {
	font-family: var(--FF-HEADINGS);
	letter-spacing: 0rem;
}

h2, h3 {
	margin-bottom: 1em;
	color: var(--HIGHLIGH-COLOR);
}

p {
	line-height: 1.5;
}

a:any-link {
	text-decoration: none;
	color: var(--LINK-COLOR);
	text-shadow: 4px 4px 1px black;
}

a:hover, a:focus-visible {
	text-shadow: var(--BOX-SHADOW);
	color: var(--LINK-HOVER);
}

a:active {
	color: var(--LINK-ACTIVE);
}

/* || MAIN */

header {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 0;
	border: var(--BORDER);
	background-image: var(--BGIMAGE-GENERAL);
	border-bottom-left-radius: var(--BORDER-RADIUS);
	border-bottom-right-radius: var(--BORDER-RADIUS);
	box-shadow: var(--BOX-SHADOW);
}

header h1 {
	border: 0;
	justify-content: center;
	/* display: flex; */
	/* flex: row wrap; */
	text-align: center;
	font-size: var(--FS-HEADER);
	font-style: italic;
	background-color: transparent;
	color: var(--HEADER-COLOR);
	text-shadow: 3px 3px 5px white;
}

nav ul {
	text-transform: uppercase;
	justify-content: space-between;
	border-radius: var(--BORDER-RADIUS);
	background-color: var(--NAV-BGCOLOR);
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 100%;
}

nav ul li {
	font-size: clamp(16px, 3vw, 23px);
	padding: 5px 6px;
}

nav a::before {
	content: '';
	display: block;
	height: 4px;
	background: black;
	position: relative;
	top: 0em;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	transition: transform ease-in-out 200ms;
}

nav a:hover::before {
	transform: scale(1,1);
}

nav a:hover {
	color: white;
}

.header__miscinfo {
	font-size: clamp(10px, 4vw, 23px);
	display: flex;
	justify-content: center;
	align-content: top;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0px 10px;
	padding: var(--PADDING-TB) var(--PADDING-SIDE);
	background-color: transparent;
	color: var(--HIGHLIGH-COLOR);
	text-shadow: 3px 3px 3px orange;
}

.header__sociallinks{
	display: flex;
	flex: row nowrap;
	gap: 3px;
}

.header__sociallinks img {
	width: clamp(10px, 6.2vw, 43px);
}

.nav__location {
	background-color: rgb(37, 0, 37);
	border-radius: var(--BORDER-RADIUS);
	color: var(--HIGHLIGH-COLOR);
	box-shadow: inset 0px 0px 7px white;
}

.topic {
	font-weight: bold;
	color: var(--HIGHLIGH-COLOR);
	text-shadow: 2px 2px 3px orange;
}

figure img {
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	box-shadow: var(--BOX-SHADOW);
}

figure {
	padding-top: .5rem;
}

article {
	margin-top: 10px;
	width: 100%;
	border: var(--BORDER);
	/* display: flex; */
	/* flex: column wrap; */
	background-color: var(--ARTICLE-BGCOLOR);
	background-image: radial-gradient(black, rgb(91, 0, 91));
	color: var(--ARTICLE-COLOR);
	border-radius: var(--BORDER-RADIUS);
	box-shadow: var(--BOX-SHADOW);
	padding: .5rem;
}

.flexrow {
	display: flex;
	flex: row wrap;
	justify-content: space-evenly;
}

.time {
	font-weight: bold;
	font-style: italic;
	text-shadow: var(--BOX-SHADOW);
}

@media only screen and (max-width: 590px) {
	iframe {
		max-width: 450px;
		max-height: 248px;
	}
}

@media only screen and (max-width: 450px) {
	iframe {
		max-width: 375px;
		max-height: 212px;
	}
}

@media only screen and (max-width: 380px) {
	iframe {
		max-width: 300px;
		max-height: 165px;
	}
}