/* RESET */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* || VARIABLES */
:root {
	/* FONTS */
	--FF: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	--FF-HEADINGS: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	--FS: 18px;
	--FS-HEADER: clamp(.7rem, 6vw, 2.7rem);
	/* COLORS */
	--LINK-COLOR: white;
	--LINK-HOVER: yellow;
	--LINK-ACTIVE: red;
	--BGCOLOR-FADE: rgb(157, 149, 220);
	--BGCOLOR: rgb(3, 6.1, 53);
	--BGCOLOR-GENERAL: black;
	--BGCOLOR-GENERAL-FADE: rgb(91, 0, 91);
	--BGIMAGE: radial-gradient(var(--BGCOLOR), var(--BGCOLOR-FADE));
	--BGIMAGE-GENERAL: radial-gradient(var(--BGCOLOR-GENERAL), var(--BGCOLOR-GENERAL-FADE));
	--BODY-BGCOLOR: rgb(118, 65, 65);
	--FONT-COLOR: black;
	--BORDER-COLOR: black;
	--SHADOW-COLOR: white;
	--HEADER-BGCOLOR: #3D0C02;
	--HEADER-COLOR: rgb(234, 255, 0);
	--HIGHLIGH-COLOR: rgb(203, 213, 23);
	--NAV-BGCOLOR: rgb(72, 92, 112);
	--NAV-COLOR: rgb(0, 0, 0);
	--ARTICLE-BGCOLOR: rgb(72, 92, 112);
	--ARTICLE-COLOR: rgb(255, 255, 255);
	/* BORDERS */
	--BOX-SHADOW: 0px 0px 12px var(--SHADOW-COLOR);
	--BORDER: 5px solid var(--BORDER-COLOR);
	--BORDER-RADIUS: 25px;
	/* STANDARD PADDING */
	--PADDING-TB: 0.25em;
	--PADDING-SIDE: 2.5%;
	/* STANDARD MARGIN */
}

/* || UTILITY CLASSES */

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.offscreen {
	position: absolute;
	left: -10000px;
}

.nowrap {
	white-space: nowrap;
}

.textcenter {
	text-align: center;
}

html {
	font-size: var(--FS);
	font-family: var(--FF);
	background-color: var(--BGCOLOR);
	background-image: var(--BGIMAGE);
}

body {
	background: none;
	color: var(--FONT-COLOR);
	min-height: 100vh;
	max-width: 800px;
	margin: 0px auto;
}

h1, h2, h3 {
	font-family: var(--FF-HEADINGS);
	letter-spacing: 0rem;
}

h2, h3 {
	margin-bottom: 1em;
	color: var(--HIGHLIGH-COLOR);
}

p {
	line-height: 1.5;
}

a:any-link {
	text-decoration: none;
	color: var(--LINK-COLOR);
	text-shadow: var(--BOX-SHADOW);
}

a:hover, a:focus-visible {
	color: var(--LINK-HOVER);
}

a:active {
	color: var(--LINK-ACTIVE);
}

/* || MAIN */

header {
	width: 100%;
	position: sticky;
	max-width: 800px;
	top: 0;
	z-index: 0;
	border: var(--BORDER);
	background-image: var(--BGIMAGE-GENERAL);
	box-shadow: var(--BOX-SHADOW);
	border-radius: 0 0 var(--BORDER-RADIUS) var(--BORDER-RADIUS);
}

header h1 {
	text-align: center;
	font-size: var(--FS-HEADER);
	font-style: italic;
	color: var(--HEADER-COLOR);
	text-shadow: 3px 3px 5px white;
}

nav ul {
	text-transform: uppercase;
	background-color: none;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content:space-evenly;
	width: 100%;
}

nav ul li, .nav__location {
	color: yellow;
	padding: .8em;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: .3em;
	box-shadow: var(--BOX-SHADOW);
	background-color: rgb(0, 0, 0);
	width: clamp(7em, 15vw, 120px);
	height: clamp(2em, 8vw, 3em);
	border-radius: 30% 0 30% 0;
	font-size: clamp(.5rem, 2.5vw, 1.10rem);
}

.nav__location {
	background-image: radial-gradient(black, rgb(100, 100, 0));
	padding-bottom: .6em;
	text-shadow: 3px 3px 3px white;
}

nav a:any-link {
	text-shadow: 3px 3px 3px yellow;
	transition: rotate 750ms ease-in-out;
}

nav a:hover, a:focus-visible {
	color: white;
	rotate: -30deg;
	transition: rotate 250ms ease-in-out;
}

.header__miscinfo {
	font-size: clamp(.5rem, 2.75vw, 1.2rem);
	display: flex;
	justify-content: center;
	align-content: top;
	flex: row wrap;
	gap: 0px 10px;
	padding: var(--PADDING-TB) var(--PADDING-SIDE);
	background-color: transparent;
	color: var(--HIGHLIGH-COLOR);
	text-shadow: 3px 3px 3px orange;
}

.header__sociallinks{
	display: flex;
	flex: row nowrap;
	gap: 3px;
}

.header__sociallinks img {
	width: clamp(10px, 6.2vw, 43px);
}

.topic {
	font-weight: bold;
	color: var(--HIGHLIGH-COLOR);
	text-shadow: 2px 2px 3px orange;
}

figure img {
	border: var(--BORDER);
	border-radius: var(--BORDER-RADIUS);
	box-shadow: var(--BOX-SHADOW);
}

figure {
	padding-top: .5rem;
}

article {
	margin-top: 10px;
	width: 100%;
	border: var(--BORDER);
	background-color: var(--ARTICLE-BGCOLOR);
	background-image: radial-gradient(black, rgb(91, 0, 91));
	color: var(--ARTICLE-COLOR);
	border-radius: var(--BORDER-RADIUS);
	box-shadow: var(--BOX-SHADOW);
	padding: .5rem;
}

.flexrow {
	justify-content: center;
	gap: .5rem;
	flex-basis: 100%;
	display: flex;
	flex: row wrap;
}

.time {
	font-weight: bold;
	font-style: italic;
	text-shadow: var(--BOX-SHADOW);
}

@media only screen and (max-width: 613px) {
	iframe {
		max-width: 450px;
		max-height: 248px;
	}
}

@media only screen and (max-width: 485px) {
	iframe {
		max-width: 375px;
		max-height: 212px;
	}
}

@media only screen and (max-width: 400px) {
	iframe {
		max-width: 300px;
		max-height: 165px;
	}
}

@media only screen and (max-width: 330px) {
	iframe {
		max-width: 200px;
		max-height: 110px;
	}
}

@media screen and (max-width: 220px) {
	.header__miscinfo {
		flex-direction: column;
		align-items: center;
	}
}